<%= form_with(model: deposit, url: balance_deposits_url) do |form| %>
  <% if deposit.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(deposit.errors.count, "error") %> prohibited this deposit from being saved:</h2>

      <ul>
        <% deposit.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.number_field :payee_id, style: "display: none", value: current_user.id %>
  </div>

  <div>
    <%= form.label :amount_in_pennies, style: "display: block" %>
    <%= form.number_field :amount_in_pennies %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
